Source: mlvpn
Maintainer: Laurent Coustet <ed@zehome.com>
Section: net
Priority: optional
Standards-Version: 4.7.0
Build-Depends: debhelper-compat (= 13),
               libev-dev,
               libpcap-dev,
               libsodium-dev,
               pkgconf,
               ronn
Build-Conflicts: autoconf2.13, automake1.4
Vcs-Git: https://github.com/zehome/MLVPN.git
Vcs-Browser: https://github.com/zehome/MLVPN.git
Homepage: http://www.mlvpn.fr/

Package: mlvpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, net-tools, adduser, passwd, lsb-base
Description: MultiLink Virtual Public Network aggregator.
 MLVPN aggregates multiple links into one tun/tap tunnel.
