#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--without-install-examples \
		--with-systemdsystemunitdir=/lib/systemd/system \
		--with-systemdsystemgeneratordir=/lib/systemd/system-generators \
		--with-systemdtmpfilesdir=/usr/lib/tmpfiles.d
